# Large binaries / VM images
isos/
*.vdi
*.vmdk
*.iso

vms/
*.vdi
*.vmdk
*.iso

# VM log and state files
*.vbox-prev
*.nvram
*.log

# Python virtualenvs
env/
.venv/

# Jupyter checkpoints
.ipynb_checkpoints/

# Windows swap & logs
Thumbs.db
*.evtx

# Office & other temp artefacts
~$*
*.tmp

# Auto-saved and working files
~*.docx
~*.xlsx
~*.pptx

# Optional: ignore Word documents if versioned elsewhere (like PDFs)
# *.docx

# Docker volumes and containers (optional)
**/data/
**/logs/
